/*Styles for responsive Blog Clone --Thinkful*/

    /*@font-face*/
    @font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-r-webfont.eot');
    src: url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/ubuntu-r-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*used to be rgba(99,126,151,1);*/
body {
	font-family: ubunturegular, Helvetica, sans-serif;
	font-size: 93.75%;
	line-height: 1.66667;
	background:white;
	color: #4c4e4d;
	width: 100%;
}

aside, section, p, h1, h2, h3, h4, h5, h6, h7, div, article{
	display:block;
}

h1, h2, h3, h4, h5, h6, strong, .practical-topics, .pos-prime {
	font-family:league_gothicregular;
	letter-spacing:3.104;
}

h1 {
	font-size:4em;
	font-weight:bolder;
	line-height:1.3em;
}

h2 {
	font-size:3.45em;
	font-weight:bolder;
}

.heading {
	color:white;
	background-color:rgba(0, 0, 0, 0.3);
	padding:0.06em 0 0.06em 0.15em;
	margin-top:0.45em;
	text-align:center;

}

.inline {
	display:inline-block;
}

.lead {
	line-height:1.85em;
	letter-spacing:.44em;
	font-weight:bold;
	margin-bottom:0.35em;
}

/*header*/

.top-nav {
	position: fixed;
	top: 0;
	z-index: 25;
	background: rgba(95,118,133,1);
	padding:0.2em 0.4em;
	color:white;
	width:100%;
	text-transform: uppercase;
	margin:0 auto;
	text-align:center;
}


.brand {
	display:inline-block;
	font-family:Impact;
	font-size:2.4em;
	margin-left:1.3em;
	
}
.nav-links a{
color:white;
	}

.nav-links a:hover {
text-shadow:0.4em 0.4em 0.4em rgba(108, 66, 204, 0.6);	
}
.nav-links a:hover i{
color:rgba(108, 66, 204, 0.6);

}


.nav-links  li {
	display:inline-block;
	margin-left:0.25em;
	border-right:0.15em solid white;
	padding:0.45em;
}

.nav-links  li:first-child {
	margin-left:0em;
}

.nav-links li:last-of-type {
  margin-right: .5em;
  border-right:none;
}



/*main content*/

.page-content {
  margin-top: 6em;
}

/*BANNER*/


.top-banner{
	background: url('../img/dancing-lights-web.jpg');
	height:746px;
	background-repeat: no-repeat; 
	background-size: cover;
	-webkit-background-size: cover;
	padding: 6.86em 0;
	background-position: center bottom;
	-webkit-background-position: center bottom;
	background-position-x: 50%;
	background-position-y: 100%;
}
.practicals{
	border:4px solid rgba(108, 66, 204, 0.5);
	padding:1em;
	
}

.practical-topics{
	display:inline-block;
	border:1px solid white;
	border-radius:3px;
	width:49.55%;
	height:50%;
	text-align:center;
	font-size:3em;
	padding:1.27em 0;
	margin-top:0.17em;
	background: rgba(255, 255, 255, 0.7);

}

.social{
	margin-bottom:0.5em;
	background: rgba(0, 0, 0, 0.8);
	text-align:center;
}

.intro {
	background: rgba(108, 66, 204, 0.7);
	color:white;
	font-weight:bold;
	font-size:1.3em;
}

.social, .intro{
	padding: 0.6em 0.4em;
}

.social-header {
	background:rgba(255, 255, 255, 0.7);
	line-height:1.05em;
	margin-bottom:0.6em;
	text-align:left;
}

.social i {
	padding: 0.4em 0.4em;
	margin: 0 0.2em;
	background: rgba(255, 255, 255, 0.7);
	border; 0.3em solid rgba(255, 255, 254, 0.5);
	border-radius:50%;
}

.pos-prime {
font-size:3em;
display:block;
line-height:1em;
	
}

/*About Page*/

.bio-desc, .contact-desc, .contact-img{
	margin-top: 5.3em;
	}
.bio-desc{
	margin-bottom: 1.6em;
	padding: 0 4.6em;
	border-left: 0.31em inset rgba(0, 0, 0, 0.5);

}

.portrait-bio {
	margin-top:6.2em;
	border:1em solid rgba(0, 0, 0, 0.4);
	box-shadow: 2px 3px 2px rgba(0, 0, 242, 0.4);
}

/*Portfolio*/
.portfolio {
	background-color:rgba(89,54,168, 1);

	}


/*FOOTER*/

.page-footer {
	text-align:center;
	margin-top:.58em;
	border-top: 2px solid #333;
}




@media all and (max-width: 768px) {
  .sidebar-container {
    position: static;
  }
}